<html>
     {{>headtag}}
    <body>
       {{!-- navbar --}}
     
     {{>navbar}}
    <!-- main header -->
        
    <div class="container-fluid main_header">
     <div class="row">
       <div class="col-md-10 col-12 mx-auto">
         <div class="row">
             <!-- rigth said menu -->
              <div class="col-md-6 col-12 main_header_rigth about_image">
                <figure>
                 <img src="images/about.png" alt="jadhav" class="img-fluid">   
                </figure> 
                   
              </div>
             <!-- left said menu -->
            <div class="col-md-6 col-12 main_header_left">
              <p>Welcome to weather app</p>
              <h1>I Am A <span class="text-color">MERN Stack Developer</span>  </h1>
              <a href="https://www.instagram.com/jadhav_madhau/" target="blank"><button>about me</button></a>
            </div>
              
         </div>
       </div>
     </div>
    </div>


    <!-- footer code -->
     {{>footer}}
    </body>

</html>